In [1]:
import numpy as np
import pandas as pd
import os, gc
from glob import glob
from tqdm import tqdm

import sys
sys.path.append(f'/home/{os.environ.get("USER")}/PythonLibrary')

import EDA

In [2]:
tr = pd.read_csv('../input/train.csv.zip')
te = pd.read_csv('../input/test.csv.zip')

In [5]:
tr_info = EDA.df_info(tr)
tr_info

Shape: (200000, 202)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt,top10 raito
ID_code,object,0,200000,NaN,NaN,NaN,NaN,"['train_19236', 'train_66829', 'train_162721',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
target,int64,0,2,0.0000,0.100490,1.0000,0.300653,"[0, 1]","[179902, 20098]","[0.9, 0.1]"
var_0,float64,0,94672,0.4084,10.679914,20.3150,3.040051,"[10.6829, 13.0656, 8.6649, 11.959000000000001,...","[11, 11, 11, 10, 10, 10, 10, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_1,float64,0,108932,-15.0434,-1.627622,10.3768,4.050044,"[-2.4313, -1.1853, -2.1515, -2.5753, -0.3668, ...","[10, 10, 10, 10, 9, 9, 9, 9, 9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_2,float64,0,86555,2.1171,10.715192,19.3530,2.640894,"[9.1497, 10.7345, 8.3741, 11.668, 12.3873, 11....","[12, 11, 11, 11, 11, 11, 11, 11, 11, 11]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_3,float64,0,74597,-0.0402,6.796529,13.1883,2.043319,"[6.8029, 6.0463, 6.7984, 7.5891, 7.6744, 6.817...","[15, 13, 13, 12, 12, 12, 12, 12, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_4,float64,0,63515,5.0748,11.078333,16.6714,1.623150,"[10.8911, 11.3742, 10.9037, 11.0683, 10.2042, ...","[15, 14, 14, 14, 13, 13, 13, 13, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_5,float64,0,141029,-32.5626,-5.065317,17.2516,7.863267,"[-7.5212, -9.127, -8.8595, -9.5437, 1.635, -6....","[7, 7, 7, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_6,float64,0,38599,2.3473,5.408949,8.4477,0.866607,"[5.1153, 5.7649, 5.3422, 6.0012, 5.6477, 5.791...","[22, 21, 21, 21, 20, 20, 20, 19, 19, 19]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_7,float64,0,103063,5.3497,16.545850,27.6918,3.418076,"[18.9966, 16.7116, 17.2532, 17.0926, 14.3015, ...","[11, 10, 10, 9, 9, 9, 9, 9, 9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_8,float64,0,98617,-10.5055,0.284162,10.1513,3.332634,"[-2.2274, -1.5201, 1.3559, 1.8819, 0.8099, 2.0...","[11, 10, 10, 10, 10, 10, 10, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_9,float64,0,49417,3.9705,7.567236,11.1506,1.235070,"[7.2048, 7.7428, 7.7306, 7.6869, 8.9801, 7.728...","[18, 18, 17, 17, 17, 17, 16, 16, 16, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_10,float64,0,128764,-20.7313,0.394340,18.6702,5.500793,"[0.8671, 0.2742, -0.0713, 0.1737, 2.8736, 1.05...","[9, 8, 8, 8, 8, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_11,float64,0,130193,-26.0950,-3.245596,17.1887,5.970253,"[-6.5005, -5.1691, -4.6944, -3.0733, -2.5212, ...","[8, 8, 8, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_12,float64,0,9561,13.4346,14.023978,14.6545,0.190059,"[13.5545, 13.5547, 13.5546, 13.5542, 13.5544, ...","[203, 159, 150, 150, 148, 147, 122, 120, 107, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_13,float64,0,115181,-6.0111,8.530232,22.3315,4.639536,"[12.344000000000001, 9.1917, 14.1195, 8.4977, ...","[9, 9, 9, 9, 9, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_14,float64,0,79122,1.0133,7.537606,14.9377,2.247908,"[8.9383, 8.1285, 6.8468, 8.5079, 8.1392, 9.998...","[12, 11, 11, 11, 11, 11, 11, 11, 11, 11]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_15,float64,0,19810,13.0769,14.573126,15.8633,0.411711,"[14.6482, 14.3176, 14.6285, 14.5936, 14.2518, ...","[34, 32, 31, 31, 31, 31, 31, 31, 30, 30]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_16,float64,0,86918,0.6351,9.333264,17.9506,2.557421,"[10.743, 10.7735, 10.6869, 7.5078, 10.8245, 10...","[14, 13, 12, 12, 11, 11, 11, 11, 11, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_17,float64,0,137823,-33.3802,-5.696731,19.0259,6.712612,"[-8.2807, -6.9277, 4.2545, -10.0231, -5.7012, ...","[8, 8, 8, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_18,float64,0,139515,-10.6642,15.244013,41.7480,7.851370,"[10.2625, 13.0018, 20.3124, 15.1905, 22.5998, ...","[9, 8, 8, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_19,float64,0,144180,-12.4025,12.438567,35.1830,7.996694,"[15.5568, 10.9355, 10.4466, 5.3314, 15.4164, 1...","[7, 7, 6, 6, 6, 6, 6, 6, 6, 6]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_20,float64,0,127764,-5.4322,13.290894,31.2859,5.876254,"[8.5437, 12.9116, 17.122, 14.4471, 18.2334, 10...","[10, 8, 8, 8, 8, 8, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_21,float64,0,140062,-10.0890,17.257883,49.0443,8.196564,"[13.9733, 11.9118, 18.374000000000002, 17.5359...","[10, 8, 8, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_22,float64,0,90660,-5.3225,4.305430,14.5945,2.847958,"[2.6718, 1.8087, 5.2144, 4.9226, 4.8975, 3.295...","[11, 11, 11, 11, 11, 11, 10, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_23,float64,0,24913,1.2098,3.019540,4.8752,0.526893,"[2.9116, 2.6761, 2.9261, 2.8285, 2.7836, 3.156...","[32, 31, 31, 30, 30, 29, 27, 27, 27, 27]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_24,float64,0,105101,-0.6784,10.584400,25.4460,3.777245,"[8.1986, 8.2132, 8.899, 9.1963, 12.548, 13.567...","[10, 10, 10, 10, 10, 10, 10, 9, 9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_25,float64,0,14853,12.7200,13.667496,14.6546,0.285535,"[13.6723, 13.7088, 13.6971, 13.6453, 13.6122, ...","[41, 40, 40, 40, 39, 39, 39, 39, 39, 39]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_26,float64,0,127089,-24.2431,-4.055133,15.6751,5.922210,"[0.7814, -6.9358, -8.3158, -9.7403, -1.1735, -...","[9, 8, 8, 8, 8, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_27,float64,0,60185,-6.1668,-1.137908,3.2431,1.523714,"[-0.5237, -1.4595, 0.0727, -0.5333, -0.7963, -...","[15, 14, 14, 14, 14, 14, 14, 14, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...
var_170,float64,0,113720,-14.5060,-0.004962,16.7319,4.424621,"[0.018000000000000002, 3.1067, 3.8482, -1.9693...","[10, 9, 9, 9, 9, 9, 9, 9, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_171,float64,0,125914,-22.4793,-0.831777,17.9173,5.378008,"[-0.9474, -0.0541, 0.2733, -5.4082, 0.55299999...","[9, 8, 8, 8, 8, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_172,float64,0,143366,-11.4533,19.817094,53.5919,8.674171,"[20.4164, 16.6896, 11.9975, 26.4534, 14.9499, ...","[9, 9, 8, 8, 8, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_173,float64,0,128120,-22.7487,-0.677967,18.8554,5.966674,"[-3.3287, -6.28, 1.7815, 5.1735, -3.0143, -0.5...","[9, 9, 9, 8, 8, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_174,float64,0,134945,-2.9953,20.210677,43.5468,7.136427,"[20.0748, 24.8502, 22.4484, 24.7084, 21.8905, ...","[8, 8, 8, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_175,float64,0,92659,3.2415,11.640613,20.8548,2.892167,"[11.7786, 11.7665, 11.7464, 11.7883, 11.7962, ...","[12, 12, 11, 11, 11, 10, 10, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_176,float64,0,142521,-29.1165,-2.799585,20.2452,7.513939,"[2.3942, -6.6483, 1.5676, -0.2488, -7.8903, -2...","[8, 8, 7, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_177,float64,0,85720,4.9521,11.882933,20.5965,2.628895,"[9.6888, 10.2667, 10.4087, 9.6622, 9.7668, 14....","[12, 11, 11, 11, 11, 11, 11, 11, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_178,float64,0,145235,-29.2734,-1.014064,29.8413,8.579810,"[-0.4137, -4.4545, 0.6106, -1.9429, -4.4685, 0...","[8, 8, 8, 7, 7, 7, 7, 6, 6, 6]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_179,float64,0,90090,-7.8561,2.591444,13.4487,2.798956,"[3.0241, 3.6629, -0.7483, 2.7684, 3.3831, 0.93...","[12, 12, 12, 12, 12, 11, 11, 11, 11, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_180,float64,0,123477,-22.0374,-2.741666,12.7505,5.261243,"[-1.5019, -2.8918, 0.8005, -1.2927, -2.3082, -...","[9, 9, 9, 9, 9, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_181,float64,0,56164,5.4165,10.085518,14.3939,1.371862,"[10.7953, 10.7933, 10.7921, 10.7948, 10.7923, ...","[22, 21, 21, 20, 20, 19, 19, 19, 19, 19]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_182,float64,0,149195,-26.0011,0.719109,29.2487,8.963434,"[6.6879, -3.2669, 0.9815, -3.9144, -4.4912, -9...","[7, 7, 6, 6, 6, 6, 6, 6, 6, 6]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_183,float64,0,117529,-4.8082,8.769088,23.7049,4.474924,"[8.2373, 6.5601, 7.0166, 9.5792, 10.1996, 6.28...","[10, 9, 8, 8, 8, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_184,float64,0,145184,-18.4897,12.756676,44.3634,9.318280,"[12.6965, 3.8842, 10.1903, 19.1745, 3.1995, 16...","[9, 8, 7, 7, 7, 7, 7, 7, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_185,float64,0,120747,-22.5833,-3.983261,12.9975,4.725167,"[-2.1651, -3.1468, -6.4269, -3.833999999999999...","[9, 9, 8, 8, 8, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_186,float64,0,98060,-3.0223,8.970274,21.7392,3.189759,"[9.1323, 8.6433, 6.1012, 9.5715, 9.2096, 11.27...","[15, 12, 11, 11, 11, 11, 11, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_187,float64,0,157031,-47.7536,-10.335043,22.7861,11.574708,"[-2.9079, 2.2889, -9.2339, -3.48, -20.4298, -4...","[6, 6, 6, 6, 6, 6, 6, 6, 6, 6]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_188,float64,0,108813,4.4123,15.377174,29.3303,3.944604,"[13.1492, 18.3214, 12.8645, 15.0536, 12.1852, ...","[10, 9, 9, 9, 9, 9, 9, 9, 9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_189,float64,0,41764,-2.5543,0.746072,4.0341,0.976348,"[1.2638, 0.2501, 1.4229, 0.593, 1.1044, 1.3066...","[19, 19, 19, 18, 18, 18, 18, 17, 17, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_190,float64,0,114959,-14.0933,3.234440,18.4409,4.559922,"[1.0859999999999999, 3.8735, 4.3899, -1.5867, ...","[10, 10, 9, 9, 9, 9, 9, 9, 9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_191,float64,0,94266,-2.6917,7.438408,16.7165,3.023272,"[4.3057, 9.0394, 5.5482, 6.2718, 5.4268, 5.373...","[13, 11, 11, 11, 10, 10, 10, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_192,float64,0,59065,-3.8145,1.927839,8.4024,1.478423,"[1.0223, 2.0140000000000002, 1.3945, 1.8275, 1...","[19, 17, 17, 16, 16, 16, 16, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_193,float64,0,110557,-11.7834,3.331774,18.2818,3.992030,"[2.5643, 4.7947, 1.4436, 2.4223, 4.6744, 2.282...","[9, 9, 9, 9, 8, 8, 8, 8, 8, 8]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_194,float64,0,97069,8.6944,17.993784,27.9288,3.135162,"[15.0714, 17.5033, 19.1518, 15.9251, 16.2913, ...","[11, 11, 10, 10, 10, 10, 9, 9, 9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_195,float64,0,57870,-5.2610,-0.142088,4.2729,1.429372,"[-0.935, -0.1693, -0.5351, -0.2267, -0.9803, 1...","[17, 16, 16, 15, 15, 15, 15, 15, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_196,float64,0,125560,-14.2096,2.303335,18.3215,5.454369,"[1.7538, 6.729, -0.0909, 3.4848, 3.6928, -0.84...","[8, 8, 8, 8, 8, 8, 8, 8, 7, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_197,float64,0,40537,5.9606,8.908158,12.0004,0.921625,"[8.0477, 8.9715, 8.4725, 8.8836, 8.9665, 8.484...","[23, 20, 20, 20, 19, 19, 19, 19, 19, 19]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_198,float64,0,94153,6.2993,15.870720,26.0791,3.010945,"[16.875999999999998, 17.9382, 14.1484, 17.0855...","[13, 11, 11, 11, 11, 11, 11, 11, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_199,float64,0,149430,-38.8528,-3.326537,28.5007,10.438015,"[1.9261, -10.6006, -3.9853, -0.3752, -4.232, -...","[7, 7, 7, 7, 7, 7, 6, 6, 6, 6]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [6]:
te_info = EDA.df_info(te)
te_info

Shape: (200000, 201)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt,top10 raito
ID_code,object,0,200000,NaN,NaN,NaN,NaN,"['test_135347', 'test_84889', 'test_12786', 't...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_0,float64,0,65580,0.1887,10.658737,22.3234,3.036716,"[9.5368, 9.7369, 12.4317, 9.9076, 10.4597, 12....","[20, 18, 18, 18, 18, 17, 17, 16, 16, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_1,float64,0,71661,-15.0434,-1.624244,9.3851,4.040509,"[-3.66, -5.0183, 0.9025, 0.9909, -0.5942, 1.11...","[18, 17, 17, 16, 16, 15, 15, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_2,float64,0,61865,2.3552,10.707452,18.7141,2.633888,"[10.3544, 9.656, 12.2659, 10.1302, 10.1724, 12...","[21, 20, 20, 19, 19, 18, 17, 17, 17, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_3,float64,0,56507,-0.0224,6.788214,13.1420,2.052724,"[8.5594, 6.867000000000001, 5.6693, 7.1706, 4....","[22, 21, 21, 21, 21, 21, 20, 20, 20, 20]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_4,float64,0,49995,5.4844,11.076399,16.0371,1.616456,"[10.8383, 12.030999999999999, 11.7222, 10.4904...","[24, 24, 24, 24, 22, 22, 22, 20, 20, 20]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_5,float64,0,83228,-27.7670,-5.050558,17.2537,7.869293,"[-11.9289, -8.7608, 0.1389, 2.1134, -2.7652, -...","[16, 14, 14, 14, 13, 13, 13, 13, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_6,float64,0,33273,2.2164,5.415164,8.3025,0.864686,"[5.797999999999999, 5.1286, 4.9295, 5.3825, 5....","[33, 33, 29, 29, 29, 29, 29, 28, 28, 28]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_7,float64,0,69487,5.7137,16.529143,28.2928,3.424482,"[12.1081, 14.8982, 14.7095, 16.5933, 13.1351, ...","[18, 17, 17, 16, 16, 16, 15, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_8,float64,0,67521,-9.9560,0.277135,9.6655,3.333375,"[-0.0851, 3.6147, -2.5998, -2.3292, 2.1987, -1...","[21, 19, 17, 17, 17, 16, 16, 16, 16, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_9,float64,0,41583,4.2433,7.569407,11.0036,1.231865,"[8.6081, 7.5642, 7.7048, 7.5787, 7.5074, 7.974...","[28, 27, 26, 25, 25, 24, 23, 23, 22, 22]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_10,float64,0,79221,-22.6724,0.371335,20.2145,5.508661,"[4.9549, -1.8332, -1.0131, 0.4852, 4.0173, 5.1...","[17, 16, 15, 15, 15, 15, 15, 15, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_11,float64,0,79749,-25.8118,-3.268551,16.7713,5.961443,"[0.2551, -7.1323, -0.4953, -9.5813, -11.6534, ...","[18, 16, 15, 15, 14, 14, 14, 14, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_12,float64,0,9121,13.4245,14.022662,14.6820,0.190071,"[13.5546, 13.5547, 13.5544, 13.5545, 13.5542, ...","[188, 184, 169, 166, 147, 144, 143, 140, 127, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_13,float64,0,74037,-4.7413,8.540872,21.6051,4.628712,"[7.9855, 4.7192, 11.7888, 8.1456, 4.0915, 6.14...","[16, 16, 16, 16, 14, 14, 14, 14, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_14,float64,0,58951,0.6703,7.532703,14.7231,2.255257,"[8.262, 7.587999999999999, 6.9508, 7.1013, 8.0...","[20, 19, 19, 18, 18, 18, 18, 18, 18, 18]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_15,float64,0,18253,13.2034,14.573704,15.7980,0.411592,"[14.6942, 14.497, 14.235999999999999, 14.3625,...","[47, 45, 45, 45, 44, 42, 42, 41, 40, 40]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_16,float64,0,61906,0.3143,9.321669,17.3687,2.544860,"[10.0245, 9.056000000000001, 8.9742, 10.7696, ...","[21, 20, 19, 18, 18, 18, 18, 18, 18, 18]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_17,float64,0,82518,-28.9069,-5.704450,19.1509,6.746460,"[-8.4267, -3.3492, -2.9667, -4.653000000000000...","[14, 13, 13, 13, 13, 13, 13, 13, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_18,float64,0,82682,-11.3242,15.265776,38.9290,7.846983,"[7.2567, 9.6811, 10.7777, 23.2442, 21.9984, 13...","[16, 15, 14, 14, 14, 14, 14, 14, 14, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_19,float64,0,84370,-12.6994,12.456675,35.4323,7.989812,"[9.0209, 20.5091, 7.8004, 18.0699, 7.405, 7.91...","[16, 15, 14, 14, 14, 13, 13, 13, 13, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_20,float64,0,78645,-2.6346,13.298428,32.0758,5.884245,"[15.3813, 19.45, 7.313, 11.413, 9.1443, 15.123...","[17, 16, 15, 15, 15, 14, 14, 14, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_21,float64,0,82738,-9.9406,17.230598,47.4179,8.199877,"[16.8568, 17.5188, 19.2913, 19.1377, 21.5109, ...","[14, 14, 13, 13, 13, 13, 13, 13, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_22,float64,0,63855,-5.1640,4.299010,14.0426,2.844023,"[6.4599, 4.86, 3.9621, 6.1994, 2.6227, 3.6239,...","[18, 18, 18, 18, 17, 17, 17, 17, 17, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_23,float64,0,22619,1.3906,3.019707,5.0246,0.527951,"[2.9221, 2.7524, 2.8214, 3.2175, 2.8124, 2.701...","[50, 48, 42, 42, 41, 40, 38, 37, 36, 36]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_24,float64,0,70202,-0.7313,10.567479,23.8396,3.771047,"[10.0177, 13.4639, 11.8193, 7.3438, 8.1412, 7....","[18, 18, 17, 17, 16, 16, 16, 16, 16, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_25,float64,0,13728,12.7496,13.666970,14.5964,0.285454,"[13.5965, 13.6062, 13.6693, 13.4506, 13.5399, ...","[60, 59, 56, 54, 53, 53, 52, 52, 50, 49]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_26,float64,0,78260,-24.5361,-3.983721,13.4564,5.945853,"[-4.2819, 0.0096, -7.8902, -2.2483, -10.7433, ...","[16, 16, 15, 15, 15, 15, 14, 14, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_27,float64,0,48428,-6.0409,-1.129536,3.3713,1.524765,"[0.4143, -1.5591, -0.9942, -0.545, -1.8513, -2...","[24, 21, 21, 21, 21, 20, 20, 20, 20, 20]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_28,float64,0,31321,2.8425,5.530656,8.4599,0.785618,"[5.9894, 5.3445, 5.8245, 5.4264, 5.9948, 5.170...","[32, 31, 30, 30, 29, 29, 28, 28, 28, 28]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...
var_170,float64,0,73455,-15.5932,-0.020824,16.8465,4.417876,"[-1.3647, 2.2831, -1.7137, 2.6663, 2.5334, -1....","[18, 17, 17, 17, 16, 15, 15, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_171,float64,0,77918,-20.3936,-0.805148,17.2692,5.378492,"[-2.6905, -5.2208, -4.2034, -0.5026, -3.2126, ...","[16, 15, 15, 15, 15, 14, 14, 14, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_172,float64,0,83916,-11.7966,19.779528,53.4265,8.678024,"[25.4815, 21.5924, 22.7877, 20.4559, 19.2734, ...","[15, 14, 14, 14, 13, 13, 13, 13, 13, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_173,float64,0,78845,-21.3428,-0.666240,19.2376,5.987419,"[-5.0629, -1.5341, -7.9407, -0.9914, 6.1993, -...","[16, 16, 15, 14, 14, 14, 14, 13, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_174,float64,0,80987,-2.4854,20.264135,42.7582,7.141816,"[14.009, 21.6249, 17.2934, 17.1108, 20.8296, 1...","[16, 15, 13, 13, 13, 13, 13, 13, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_175,float64,0,64937,2.9512,11.635715,19.8922,2.884821,"[9.3692, 11.811, 9.583, 9.4722, 14.7194, 11.78...","[20, 20, 20, 19, 19, 19, 18, 17, 17, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_176,float64,0,83905,-29.8384,-2.776134,19.6773,7.557001,"[-2.0551, -1.9019, 1.2864, -7.8817, -1.3359, -...","[14, 13, 13, 13, 13, 13, 12, 12, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_177,float64,0,61780,5.0253,11.864538,20.0078,2.626556,"[10.2212, 10.6746, 12.1273, 11.0952, 13.0988, ...","[20, 19, 19, 19, 18, 18, 18, 18, 18, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_178,float64,0,84537,-29.1185,-0.949318,27.9568,8.570314,"[2.4952, -1.3415, -8.1195, 8.7641, 1.0676, 5.4...","[16, 15, 15, 13, 13, 13, 13, 13, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_179,float64,0,63473,-7.7674,2.582604,14.0675,2.803890,"[3.9165, 2.9756, 0.6532, 1.8141, 3.1355, 3.320...","[21, 21, 21, 20, 18, 18, 18, 18, 18, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_180,float64,0,77195,-20.6106,-2.722636,13.9910,5.225554,"[-4.8634, -2.3766, 2.7612, -3.5222, -3.1296, 1...","[17, 17, 15, 15, 15, 15, 15, 15, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_181,float64,0,45307,5.3460,10.080827,14.0559,1.369546,"[10.7881, 10.7955, 9.3518, 9.5892, 10.8332, 10...","[30, 27, 26, 25, 24, 24, 24, 24, 24, 23]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_182,float64,0,85984,-28.0928,0.651432,28.2553,8.961936,"[-3.234, -1.5067, -4.1759, -4.1008, 4.3092, 9....","[15, 15, 12, 12, 12, 12, 12, 12, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_183,float64,0,75174,-5.4768,8.768929,25.5685,4.464461,"[7.1162, 7.2769, 11.897, 6.7365, 7.6524, 7.049...","[16, 16, 16, 15, 15, 15, 15, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_184,float64,0,84500,-17.0114,12.719302,44.3634,9.316889,"[5.5772, 6.7309, 10.38, 18.9607, 1.1746, 7.994...","[15, 15, 15, 14, 14, 14, 14, 14, 13, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_185,float64,0,76106,-22.4670,-3.963045,12.4886,4.724641,"[-0.9108, -4.2652, -5.702000000000001, -7.0932...","[20, 15, 15, 14, 14, 14, 14, 14, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_186,float64,0,67204,-2.3038,8.978800,21.6999,3.206635,"[8.6338, 7.5326, 7.6537, 7.7444, 9.5408, 9.408...","[22, 19, 18, 18, 17, 17, 17, 17, 16, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_187,float64,0,88290,-47.3064,-10.291919,23.5699,11.562352,"[0.1931, -9.2551, -2.6583, -9.3672, -19.7514, ...","[14, 13, 13, 13, 12, 12, 12, 12, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_188,float64,0,71322,4.4291,15.366094,28.8852,3.929227,"[15.5564, 19.9553, 13.0001, 11.8632, 20.3245, ...","[19, 16, 16, 15, 15, 15, 15, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_189,float64,0,36220,-2.5115,0.755673,3.7803,0.976123,"[0.6251, 0.6739, 0.3317, 0.8698, 0.792, 1.5578...","[30, 27, 27, 26, 26, 26, 26, 25, 25, 25]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_190,float64,0,73782,-14.0933,3.189766,20.3590,4.551239,"[5.4272, 1.7671, 3.8493, 1.2065, 3.1156, 1.004...","[19, 19, 19, 17, 17, 16, 16, 16, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_191,float64,0,65460,-2.4070,7.458269,16.7165,3.025189,"[10.027999999999999, 5.3498, 6.7297, 8.9939, 8...","[19, 19, 19, 18, 18, 17, 17, 17, 17, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_192,float64,0,47041,-3.3409,1.925944,8.0050,1.479966,"[1.0173, 1.7848, 0.6657, 2.2288, 1.9365, 2.446...","[29, 28, 25, 25, 25, 24, 24, 23, 23, 23]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_193,float64,0,72171,-11.4131,3.322016,17.6326,3.995599,"[6.0498, 7.5369, 5.3929, 5.0325, 4.6424, 4.333...","[18, 17, 17, 16, 16, 16, 15, 15, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_194,float64,0,66942,9.3828,17.996967,27.9478,3.140652,"[19.15, 17.7039, 20.8085, 16.1147, 21.0586, 15...","[22, 17, 17, 17, 17, 16, 16, 16, 15, 15]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_195,float64,0,46482,-4.9119,-0.133657,4.5454,1.429678,"[-0.2137, -0.8009, 1.1737, 0.5813, -1.1278, 0....","[27, 26, 26, 25, 23, 23, 23, 22, 22, 22]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_196,float64,0,78038,-13.9442,2.290899,15.9207,5.446346,"[6.0909, -0.555, -5.4584, 7.8704, 4.8477, 2.80...","[16, 15, 15, 15, 15, 15, 14, 14, 14, 14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_197,float64,0,34817,6.1696,8.912428,12.2758,0.920904,"[9.5016, 8.5176, 9.164, 8.3973, 8.9197, 8.7124...","[34, 31, 30, 30, 29, 28, 28, 27, 26, 26]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_198,float64,0,65262,6.5840,15.869184,26.5384,3.008717,"[15.8497, 16.221, 16.4989, 14.2583, 16.9068, 1...","[20, 19, 19, 17, 17, 17, 17, 17, 17, 17]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
var_199,float64,0,85933,-39.4578,-3.246342,27.9074,10.398589,"[-10.508, -16.3609, -0.9361, 9.4578, -5.6346, ...","[15, 13, 13, 13, 13, 13, 13, 13, 12, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [7]:
tr_info.to_csv('tr_info.csv')
te_info.to_csv('te_info.csv')